@import "tailwindcss";
/* 
// <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name */

/* // <weight>: Use a value from 300 to 700
// <uniquifier>: Use a unique and descriptive class name */

* {
    /* background-color: #ffffff; */
    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: 450; */
    /* color: rgb(0, 0, 0); */
    font-style: normal;
    letter-spacing: normal;
}

.bold-font {
    /* For custom bolder fonts used here ..  */
    font-family: "Red Hat Text", sans-serif;
    font-weight: 650;
}

/* Global Custom Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Light gray background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888;  /* Gray scrollbar */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Darker on hover */
  }